
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // No collections are publicly accessible by default.
  }
}
